In [4]:
import pandas  as pd

In [9]:
df = pd.read_json("task_input_list.json", orient='records', encoding='utf-8')

In [11]:
df

                                        0
0                                ABC BANK
1                       Preferred Rewards
2                          P.O. Box 12345
3            Customer service information
4                   Wilmington, DE 144444
..                                    ...
210    Memo 4100390077958227 815830260521
211  Authorizedby your Depositor 11/27/18
212                           Page 5 of 6
213    This page intentionally left blank
214                           Page 6 of 6

[215 rows x 1 columns]

In [89]:
a={}
ph=[]
for i in range(len(data)):

    if '-' in data[0][i] and ':' in data[0][i]:
        l1 = data[0][i]
        l=data[0][i].split('-')
        if len(l[-1])==4:
            l2 = l1.split(":")
            ph.append(l2[-1])
a["phone number"]= ",".join(ph)

In [98]:
web =[]
for i in range(len(data)):
    if  '.com' in data[0][i]:
        q1= data[0][i]
        q = data[0][i].split(".com")
        if len(q[-1]) ==0:
            web.append(q1)
a["website"]= ",".join(web)

In [100]:
a

{'phone number': ' (555) 555-1234, (800) 555-1234, 1-800-555-1234',
 'website': 'bankingservices.com'}

In [129]:
mail=[]
for i in range(len(data)):
    if '@' in data[0][i] and '.com' in data[0][i]:
        mail.append(data[0][i])
if len(mail)==0:
    mail.append('NA')
a['email']=mail[0]
a['email']=",".join(mail)

In [130]:
a

{'phone number': ' (555) 555-1234, (800) 555-1234, 1-800-555-1234',
 'website': 'bankingservices.com',
 'email': 'NA'}

In [131]:
dataframe = pd.DataFrame.from_dict(a, orient='index')
dataframe.reset_index()

          index                                                0
0  phone number   (555) 555-1234, (800) 555-1234, 1-800-555-1234
1       website                              bankingservices.com
2         email                                               NA

In [132]:
dataframe.index = list(dataframe.index)

In [133]:
dataframe.reset_index(inplace = True)

In [139]:
dataframe.columns=  ['key','values']
dataframe.set_index("key",inplace=True)
dataframe

                                                       values
key
phone number   (555) 555-1234, (800) 555-1234, 1-800-555-1234
website                                   bankingservices.com
email                                                      NA

In [140]:
dataframe.to_csv("test2_output.csv")